<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByRIMU0m1Gve5gQ2lGR04nsTpuHxPP4IA</string>
	<key>GCM_SENDER_ID</key>
	<string>150097774956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CityPulse</string>
	<key>PROJECT_ID</key>
	<string>citypulse-b6d45</string>
	<key>STORAGE_BUCKET</key>
	<string>citypulse-b6d45.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150097774956:ios:12b1c15200c8aa6f028b49</string>
</dict>
</plist>